.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid; */
  /* grid-template-rows: 20px 1fr 20px; */
  /* align-items: center; */
  justify-items: center;
  min-height: 100svh;
  padding: 60px 0px;
  gap: 64px;
  font-family: var(--font-space-g);
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

/* navSection */
.navSection {
  display: flex;
  flex-direction: row;

  width: 90vw;
  justify-content: space-around;
}

.navSection > ul {
  display: flex;
  gap: 40px;

  list-style: none;
  align-items: center;

  font-size: 20px;
}


/* Content Section */
.contentSection {
  width: 90vw;
  margin: 0 auto;
  display: flex; 
}

.hero {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  gap: 35px; */

  font-size: 20px;
}

.hero > h1 {
  display: inline-block;
  width: 45%;
  font-size: 3em;
  font-weight: 500;
}

.illustration { 
  width: 50%;
  float: right;
}


.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.quote {
  background: var(--primary-dark);
  color: var(--background);
  /* border: 1px solid var(--primary-dark); */
  border-radius: 14px;
  padding: 20px 35px;

  font-size: 20px;
}

  /* Outras Section */
  .logotypes > img {
    filter: grayscale(1);
  }

.footer {
  width: 100%;
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 0;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.quote:hover {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--primary-dark);
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 60px 20px;
  }

  .navSection {
    width: auto;
  }
  .contentSection {
    width: auto;
  }
  .navSection > ul {
    display: none;
  }
  .hero > h1 {
    width: auto;
    margin: 0 auto;
    /* text-align: center; */
    display: block;
    font-size: 2em;
  }
  .illustration {
    float: none;
    width: auto;
  }
  .illustration > img {
    /* padding: 0px; */
    width: 100%;
    height: auto;
  }
  .ctas {
    justify-content: center;
  }

  /* .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  } */
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */
